<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h3>Employee Directory</h3>
<hr>
<form action="#" th:object="${student}"
      th:method="post" th:action="@{/student/save}"
      method="post">
    First name: <input th:field="*{firstName}" type="text" placeholder="First name" class="form-control mb-4 w-25">
    last name: <input th:field="*{lastName}" type="text" placeholder="Last name" class="form-control mb-4 w-25">
    email: <input th:field="*{email}" type="text" placeholder="email" class="form-control mb-4 w-25">
    password: <input th:field="*{password}" type="password" class="form-control mb-4 w-25">
    <button type="submit" class="btn btn-info col-2">save</button>

</form>

</body>
</html>