<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>
    Student registration form
</h3>
<form method="post" th:action="@{/student}" th:object="${student}">

    First name: <input type="text" th:field="*{firstName}">

    <br><br>

    Last name: <input type="text" th:field="*{lastName}">

    <br><br>
    Country:

    <select th:field="*{country}">
        <option th:each="teampCountry : ${countries}" th:value="${teampCountry}" th:text="${teampCountry}">

        </option>

    </select>

    <br>
        Favorite Programming language:
        <input th:field="*{favoriteLanguage}" type="radio"
               th:each="teampLanguage : ${language}"
               th:value="${teampLanguage}"
               th:text="${teampLanguage}"
        />
<br>
    Favorite System
    <input type="checkbox" th:field="*{favoriteSystem}"
           th:each="tempSys : ${system}"
           th:text="${tempSys}"
           th:value="${tempSys}">

    <br><br>
    <input type="submit" value="submit">

</form>
</body>
</html>